$color_1: #888;
$color_2: #fff;
$color_3: black;
$color_4: #666;
$color_5: #000;
$color_6: #0074d9;
$color_7: #ff4136;
$color_8: gray;
$font-family_1: "Montserrat",
sans-serif;
$font-family_2: inherit;
$background-color_1: #f4f4f4;
$background-color_2: #e0e0e0;
$background-color_3: #eaeaea;
$background-color_4: #007bff;
$background-color_5: #ff4136;
$background-color_6: #ff3328;
$background-color_7: gray;
$background-color_8: #c2c2c2;
$background-color_9: #0069d9;
$background-color_10: #f2f2f2;
$border-color_1: #bbb;

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-family: $font-family_1;

  .success-message {
    background-color: #DFF0D8;
    border-color: #D6E9C6;
    color: #3C763D;
    padding: 15px;
    border-radius: 5px;
  }
}

.box {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;

  h2 {
    margin-top: 0;
  }

  form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .form-group {
    width: 100%;
    margin-bottom: 20px;
  }

  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }

  input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-family: $font-family_1;
    font-size: 1rem;
  }

  input[type="email"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-family: $font-family_1;
    font-size: 1rem;
  }

  input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-family: $font-family_1;
    font-size: 1rem;
  }

  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-family: $font-family_1;
    font-size: 1rem;
  }

  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: $background-color_1;
    font-family: $font-family_2;
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    cursor: pointer;

    option {
      &:checked {
        background-color: $background-color_2;
      }
    }

    &::after {
      content: "\25BC";
      font-size: 0.8em;
      color: $color_1;
      margin-left: 0.5rem;
      vertical-align: middle;
    }

    &:hover {
      background-color: $background-color_3;
      border-color: $border-color_1;
    }

    &:focus {
      outline: none;
      border-color: $border-color_1;
      box-shadow: 0 0 0 2px #eee;
    }
  }

  button[type="submit"] {
    padding: 10px 20px;
    background-color: $background-color_4;
    color: $color_2;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-family: $font-family_1;
  }

  button[type="submit"].delete-user {
    background-color: $background-color_5;

    &:hover {
      background-color: $background-color_6;
      font-family: $font-family_1;
      font-weight: bold;
    }
  }

  button[type="submit"].reset-user {
    background-color: $background-color_7;

    &:hover {
      background-color: $background-color_8;
      color: $color_3;
      font-family: $font-family_1;
      font-weight: bold;
    }
  }

  button[type="submit"].save-user {
    background-color: $background-color_4;

    &:hover {
      background-color: $background-color_9;
      font-family: $font-family_1;
      font-weight: bold;
    }
  }
}

table {
  width: 50%;
  border-collapse: collapse;
  width: 100%;
}

th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
  background-color: $background-color_10;
}

td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;

  &:last-child {
    width: 100px;
  }
}

tr {
  &:hover {
    background-color: $background-color_8;
    cursor: pointer;
  }
}

.action-icons {
  a {
    display: flex;
    width: 90px;
    margin-right: 5px;
    color: $color_4;

    &:hover {
      color: $color_5;
    }
  }

  i {
    font-size: 20px;
    padding: 5px;

    &:first-child {
      &:hover {
        color: $color_6;
        padding: 5px;
      }
    }

    &:nth-child(2) {
      &:hover {
        color: $color_7;
        padding: 5px;
      }
    }

    &:hover {
      color: $color_8;
      padding: 5px;
    }
  }
}

.roles {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

@media screen and (min-width: 576px) {
  .box {
    width: calc(40% - 5px);
  }
}

@media screen and (min-width: 768px) {
  .box {
    width: calc(33.33% - 7.5px);
  }
}

@media screen and (min-width: 992px) {
  .box {
    width: calc(25% - 8.75px);
  }
}

@media screen and (min-width: 1200px) {
  .box {
    width: calc(45% - 9px);
  }
}
