$color_1: white;
$color_2: #4caf50;
$font-family_1: "Montserrat", sans-serif;
$background-color_1: #f5994a;
$background-color_2: transparent;
$background-color_3: #4caf50;
$background-color_4: #3e8e41;

.container {
	max-width: 600px;
	margin: 0 auto;
	padding: 20px;
	border-radius: 10px;
	font-family: $font-family_1;
  .wrapper {
    padding: 50px;
  }
	.failed-message {
		background-color: $background-color_1;
		border: 2px solid #ce4331;
		text-align: center;
		padding: 10px;
		margin: 20px 0;
		h2 {
			font-size: 24px;
			margin: 0 0 10px;
		}
		p {
			font-size: 16px;
			margin: 0;
		}
	}
}
h1 {
	text-align: center;
}
form {
	display: flex;
	flex-direction: column;
	align-items: center;
}
label {
	margin-top: 10px;
}
input[type="text"] {
	width: 100%;
	padding: 10px;
	margin: 10px;
	border: none;
	border-bottom: 1px solid black;
	background-color: $background-color_2;
}
input[type="password"] {
	width: 100%;
	padding: 10px;
	margin: 10px;
	border: none;
	border-bottom: 1px solid black;
	background-color: $background-color_2;
}
button[type="submit"] {
	width: 100%;
	margin-top: 20px;
	padding: 10px;
	background-color: $background-color_3;
	color: $color_1;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	transition: all 0.3s ease;
	&:hover {
		background-color: $background-color_4;
	}
}
.welcome-container {
	width: 80%;
	margin: auto;
	text-align: center;
	padding: 50px 0;
	h1 {
		font-size: 3rem;
		margin-bottom: 20px;
	}
	#username {
		font-weight: bold;
		color: $color_2;
	}
	.user-info {
		text-align: center;
		margin: 40px 0;
		p {
			font-size: 1.2rem;
			line-height: 1.5;
		}
	}
	.btn {
		display: inline-block;
		background-color: $background-color_3;
		color: $color_1;
		padding: 10px 20px;
		border: none;
		border-radius: 4px;
		cursor: pointer;
		transition: background-color 0.3s ease-in-out;
		&:hover {
			background-color: $background-color_4;
		}
	}
}
